@model ArtWebApp.Models.Commission
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Create commission</title>
</head>

<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>RSVP</h4></div>
        <div class="panel-body">
            @using (Html.BeginForm(FormMethod.Post))
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Your name:</label>
                    @Html.TextBoxFor(x => x.name, new { @class = "formcontrol" })
                </div>
                <div class="form-group">
                    <label>Your email:</label>
                    @Html.TextBoxFor(x => x.description, new { @class = "formcontrol" })
                </div>
                <div class="form-group">
                    <label>Price:</label>
                    @Html.TextBoxFor(x => x.price, new { @class = "formcontrol" })
                </div>

                <div class="text-center">
                    <input class="btn btn-success" type="submit" name="Enter"/>
                </div>

            }
                    <div class="card-body">
                        <form asp-action="CreateCommission" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="mb-3">
                                <label for="Username" class="form-label">Username:</label>
                                <input type="text" class="form-control" id="name" name="name"
                                    placeholder="Enter Commission Name" required>
                            </div>
                            <div class="mb-3">
                                <label for="PasswordHash" class="form-label">Password:</label>
                                <input type="password" class="form-control" id="PasswordHash" name="PasswordHash"
                                    placeholder="Enter your password" required>
                            </div>
                            <div class="mb-3">
                                <label for="Email" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="Email" name="Email"
                                    placeholder="Enter your email" required>
                            </div>
                            <div class="text-center">
                                Have an account?
                                <a asp-action="Login">Login.</a>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">Register</button>
                            </div>
                        </form>


</body>

</html>
