@{
    Layout = null;
}

<h1>@ViewData["Title"]</h1>

<div>
    <a class="btn btn-primary" asp-action="Profile">Profile</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CreateCommission">Commissions</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OrderedCommission">Ordered Commissions</a>

    <h2>Marketplace Page</h2>
</div>